ion-icon{
    zoom: 3.00;
}
span.day{
    position: absolute;
    top:16px;
    right: 5px;
}
p{
    font-size: 25px;
}

ion-button{
    justify-content: center;
}
.background{
    --background : url("/assets/extras/download.jpg") no-repeat 0/100% 100% ;
   }