<ion-header>
  <ion-toolbar>
        <ion-icon name="cafe" (click)="nav() " routerLink="/pop-up"></ion-icon>
        <ion-badge >{{answCoffe}}</ion-badge>
    <ion-title>Rasta Cafe
           
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>


        



    <div>
            
        <div class="pure-g">
                 
              
            <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <div class="container">
                    <img src="assets/icon/pic.jpg" class="image" (click)="presentPopover()"
                         alt="Beach">
                         <div class="text-block">
                              <p><b>R 9.00</b></p>
                              <ion-icon name="cafe" (click)="orderMore()"></ion-icon>
                         </div>
                        </div>

                <aside class="photo-box-caption">
                    <span>by <a href="http://www.dillonmcintosh.tumblr.com/">Rasta Cafe</a></span>
                </aside>
          </div>
        
         
            <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <div class="container">
                            <img src="assets/icon/sir.jpg" class="image" (click)="presentPopover()"
                                 alt="Beach">
                                 <div class="text-block">
                                        <p><b>R 9.00</b></p>
                                        <ion-icon name="cafe" (click)="orderMore1()"></ion-icon>
                                   </div>
                                  </div>
                <aside class="photo-box-caption">
                    <span>by <a href="http://www.dillonmcintosh.tumblr.com/">Rasta Cafe</a></span>
                </aside>
          </div>
          
            <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                
                    <div class="container">
                            <img src="assets/icon/latte2.jpg" class="image" (click)="presentPopover()"
                                 alt="Beach">
                                 <div class="text-block">
                                        <p><b>R 9.00</b></p>
                                        <ion-icon name="cafe" (click)="orderMore2()"></ion-icon>
                                   </div>
                                  </div>
                <aside class="photo-box-caption">
                    <span>by <a href="http://www.dillonmcintosh.tumblr.com/">Rasta Cafe</a></span>
                </aside>
          </div>

            <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <div class="container">
                            <img src="assets/icon/hemp.jpg" class="image" (click)="presentPopover()"
                                 alt="Beach">
                                 <div class="text-block">
                                        <p><b>R 9.00</b></p>
                                        <ion-icon name="cafe" (click)="orderCoffe()"></ion-icon>
                                   </div>
                                  </div>
                <aside class="photo-box-caption">
                    <span>by <a href="http://www.dillonmcintosh.tumblr.com/">Rasta Cafe</a></span>
                </aside>
          </div>
           
        
    
            <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <div class="container">
                            <img src="assets/icon/paper.jpg" class="image" (click)="presentPopover()"
                                 alt="Beach">
                                 <div class="text-block">
                                        <p><b>R 9.00</b></p>
                                        <ion-icon name="cafe" (click)="orderCoffe1()"></ion-icon>
                                   </div>
                                  </div>
                <aside class="photo-box-caption">
                    <span>by <a href="http://www.dillonmcintosh.tumblr.com/">Rasta Cafe</a></span>
                </aside>
          </div>

  
  

            <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <div class="container">
                            <img src="assets/icon/rich.jpg" class="image" (click)="presentPopover()"
                                 alt="Beach">
                                 <div class="text-block">
                                        <p><b>R 9.00</b></p>
                                        <ion-icon name="cafe" (click)="orderCoffe2()"></ion-icon>
                                   </div>
                                  </div>
                <aside class="photo-box-caption">
                    <span>by <a href="http://www.dillonmcintosh.tumblr.com/">Rasta Cafe</a></span>
                </aside>
          </div>


            <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <div class="container">
                            <img src="assets/icon/pot.jpg" class="image" (click)="presentPopover()"
                                 alt="Beach">
                                 <div class="text-block">
                                        <p><b>R 9.00</b></p>
                                        <ion-icon name="cafe" (click)="coffeOrder()"></ion-icon>
                                   </div>
                                  </div>
                <aside class="photo-box-caption">
                    <span>by <a href="http://www.dillonmcintosh.tumblr.com/">Rasta Cafe</a></span>
                </aside>
          </div>

            <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <div class="container">
                            <img src="assets/icon/whit.jpg" class="image" (click)="presentPopover()"
                                 alt="Beach">
                                 <div class="text-block">
                                        <p><b>R 9.00</b></p>
                                        <ion-icon name="cafe" (click)="coffeOrder1()"></ion-icon>
                                   </div>
                                  </div>
                <aside class="photo-box-caption">
                    <span>by <a href="http://www.dillonmcintosh.tumblr.com/">Rasta Cafe</a></span>
                </aside>
          </div>



        <!-- <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                <div class="container">
                        <img src="assets/icon/latte2.jpg" class="image" (click)="presentPopover()"
                             alt="Beach">
                             <div class="text-block">
                                    <p><b>R 9.00</b></p>
                                    <ion-icon name="cafe" (click)="coffeOrder2()"></ion-icon>
                               </div>
                              </div>
            <aside class="photo-box-caption">
                <span>by <a href="http://www.dillonmcintosh.tumblr.com/">Rasta Cafe</a></span>
            </aside>
      </div> -->

      
         
        </div>

    </div>
    <!-- <ion-button  (click)="nav() ">pass</ion-button> -->
</ion-content>
